{{#if hasCategories}}
  <div class="title-container">
      <a href="/bookshop/add-category" class="btn btn-outline-secondary">+ New Category</a>
  </div>
  <div class="images-container">
    {{#each cat}}
      <div class="card-container">
        <div class="card">
          <div class="card-body home-card">
            <h5 class="card-title">{{this.categoryName}}</h5>
            <h6 class="card-subtitle mb-2 text">Category:</h6>
            <h6 class="card-subtitle mb-2 text-muted">{{this.description}}</h6>

            <h6 class="card-subtitle mb-2 text">Books: {{this.bookCount}}</h6> 
            <div class="btn-container">
              <form method="get" action="/bookshop/edit-category/{{this.categoryId}}" class="form-edit">
                <button type="submit" class="btn btn-outline-secondary">Edit</button>
              </form>
              <form method="post" action="/bookshop/delete-category" class="form-delete">
                <input type="hidden" value="{{this.categoryId}}" name="CategoryId" />
                <button type="submit" class="btn btn-outline-secondary btn-delete">Delete</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
{{else}}
  <h1>No categories found!</h1>
{{/if}}
